body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.top-section{
    background-image: url( images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 3%;
}
.second-section{
    background-image: url( images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 5%;
}
.flex{
    display: flex;
   
}
.orange{
    color: orange;
}

h1{
    font-size: 50px;
}

h4{
    font-size: 19px;
}
.button{
   text-decoration: none;
   color: white;
   font-weight: 700;
   border-radius: 5px;
   padding: 10px 40px;
   background-image: linear-gradient(45deg,lightsalmon,tomato); 
}

.helf-width{
    width: 50%;
    padding-left: 6%;
    padding-right: 5%;

}
.helf-width img{
    width: 100%;
}

h2{
    font-size: 40px;
}

p{
    color: #696969;
}

.web{
    width: 40%;
    border-left: 7px solid;
min-height: 50%;
    margin-left: 5%;
    padding-left: 2% ;
    padding-bottom: 5%;
    box-shadow: 10px 10px 40px  rgb(128, 128, 128) ;
    border-radius: 10px;
   

}

.stack-web{
    border-image:linear-gradient(lightsalmon,tomato); 
    border-image-slice: 1;
}

.baby-web{
    border-image:linear-gradient(#0007FF,#00F9FF); 
    border-image-slice: 1;
}

.experiences-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 10%;
}

footer P{
    text-align: center;
}